# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1781760001/Unified+Agent+Configuration+Parameters+for+Native+Integrations
# This config file has been created from the above link and is used in all WS Native Repo Integrations by default
# This file is meant to be used as a template when switching from AUTO to LOCAL configMode in the .whitesource file

# rg: made a few changes based on most recent UA versions, see comments below
#    randy.geyer@whitesourcesoftware.com

maven.ignoreSourceFiles=true
maven.ignoreMvnTreeErrors=true
# rg: added maven.aggregateModules=true for better multi-module support
maven.aggregateModules=true

gradle.ignoreSourceFiles=true
# rg: added gradle.aggregateModules=true for better multi-module support
gradle.aggregateModules=true

npm.includeDevDependencies=false
# rg: uses npm.runPreStep=false (default), uncomment next line if you don't get good npm results
#npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.yarnProject=false

bower.runPreStep=true
bower.ignoreSourceFiles=true

nuget.runPreStep=true

paket.runPreStep=true
paket.ignoreSourceFiles=true

python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupPyFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.runPoetryPreStep=true

go.collectDependenciesAtRuntime=true
go.ignoreSourceFiles=true

sbt.runPreStep=true

r.runPreStep=true
r.cranMirrorUrl=https://cloud.r-project.org/

php.runPreStep=true
php.includeDevDependencies=true

ruby.installMissingGems=true
ruby.runBundleInstall=true

cocoapods.runPreStep=true

hex.runPreStep=true

haskell.runPreStep=true
haskell.ignorePreStepErrors=true

includes=**/*c **/*cc **/*cp **/*cpp **/*cxx **/*c++ **/*h **/*hh **/*hpp **/*hxx **/*h++ **/*m **/*mm **/*pch **/*c# **/*cs **/*csharp **/*go **/*goc **/*js **/*pl **/*plx **/*pm **/*ph **/*cgi **/*fcgi **/*pod **/*psgi **/*al **/*perl **/*t **/*pl6 **/*p6m **/*p6l **/*pm6 **/*nqp **/*6pl **/*6pm **/*p6 **/*php **/*py **/*rb **/*swift **/*java **/*clj **/*cljx **/*cljs **/*cljc **/*jar **/*egg **/*dll **/*tar.gz **/*tgz **/*zip **/*whl **/*gem **/*apk **/*air **/*dmg **/*exe **/*gem **/*gzip **/*msi **/*nupkg **/*swc **/*swf **/tar.bz2 **/pkg.tar.xz **/(u)?deb **/(a)?rpm
# rg: added **/target to the SCM default excludes
excludes=*/., **/node_modules, **/src/test, **/testdata, **/*sources.jar, **/*javadoc.jar, **/target

archiveExtractionDepth=0
archiveIncludes=**/*war **/*ear **/*zip **/*whl **/*tar.gz **/*tgz **/*tar **/*car
archiveExcludes=**/*sources.jar **/*javadoc.jar