trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Set-Content -Value "apiKey=$(APIKEY)" -Path ./eua.config
      Add-Content -Value "enableImpactAnalysis=true" -Path ./eua.config
      Add-Content -Value "requireKnownSha1=false" -Path ./eua.config
      Add-Content -Value "resolveAllDependencies=false" -Path ./eua.config
      Add-Content -Value "nuget.resolveDependencies=true" -Path ./eua.config
      Add-Content -Value "nuget.restoreDependencies=true" -Path ./eua.config
      Add-Content -Value "fileSystemScan=false" -Path ./eua.config
      Add-Content -Value "includes=**/*.dll **/*.exe" -Path ./eua.config
      Add-Content -Value "excludes=**test**" -Path ./eua.config
      Get-Content -Path ./eua.config

- task: CmdLine@2
  inputs:
    script: |
      curl -LJO https://github.com/whitesource-ft/xModuleAnalyzer-NET/releases/download/0.0.1/xModuleAnalyzer-NET.zip
      unzip ./xModuleAnalyzer-NET.zip
- task: PowerShell@2
  inputs:
    filePath: './xModuleAnalyzer-NET.ps1'
    arguments: '-d ./src -c ./eua.config -productName $(System.TeamProject)'