# WS_DOCKER_INCLUDES should be the name of the docker image you would like to scan
# project name does not matter, it is set by docker.projectNameFormat 
# default is <Image Name> <Image Tag> <Image ID>
# repositoryNameAndTag = <Image Name> <Image Tag>
# repositoryName = <Image Name>

# To remove the base image from findings, use the following paramaters
#    WS_DOCKER_EXCLUDEBASEIMAGE: true
#    WS_DOCKER_DOCKERFILEPATH: ./Dockerfile


pool:
  vmImage: 'ubuntu-latest'

steps:

- task: DockerCompose@0
  inputs:
    containerregistrytype: 'Container Registry'
    dockerComposeFile: '**/docker-compose.yml'
    action: 'Run a Docker Compose command'
    dockerComposeCommand: 'build'


- script: |
      echo Downloading Mend Unified Agent
      curl -LJO https://unified-agent.s3.amazonaws.com/wss-unified-agent.jar
      if [[ "$(curl -sL https://unified-agent.s3.amazonaws.com/wss-unified-agent.jar.sha256)" != "$(sha256sum wss-unified-agent.jar)" ]] ; then
        echo "Integrity Check Failed"
      else
        echo "Integrity Check Passed"
        echo Starting Mend Scan
        java -jar wss-unified-agent.jar
      fi
  env:
    WS_APIKEY: $(APIKEY)
    WS_USERKEY: $(USERKEY)
    WS_WSS_URL: https://saas.whitesourcesoftware.com/agent
    WS_PRODUCTNAME: $(System.TeamProject)
    WS_PROJECTNAME: doesnotmatter
    WS_DOCKER_SCANIMAGES: true
    WS_DOCKER_INCLUDES: ".*$(Build.Repository.Name).*"
    WS_DOCKER_LAYERS: true
    WS_DOCKER_PROJECTNAMEFORMAT: repositoryNameAndTag
    WS_ARCHIVEEXTRACTIONDEPTH: 2
    WS_ARCHIVEINCLUDES: '**/*war **/*ear **/*zip **/*whl **/*tar.gz **/*tgz **/*tar **/*car **/*jar'
  displayName: Mend Docker Image Scan
  
