####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=false

enableImpactAnalysis=true
requireKnownSha1=false
##### nuget #####
nuget.runPreStep=true
nuget.restoreDependencies=true
nuget.resolvePackagesConfigFiles=true
nuget.resolveNuspecFiles=true
nuget.resolveDependencies=true
nuget.resolveCsProjFiles=true
nuget.resolveAssetsFiles=true
#nuget.preferredEnvironment=
#nuget.packagesDirectory=
nuget.ignoreSourceFiles=false

#---------------- File name patterns to search ----------------
includes=**/*.cs **/*.exe **/*.dll
